#Dev
/kubejs/example_scripts
/kubejs/assets/example_textures
/kubejs/exported
/kubejs/probe
/kubejs/README.txt

#Client
/crash-reports
/downloads
/journeymap
/local
/logs
/mods
/resourcepacks
/saves
/schematics
/paintings
/backups
/patchouli_books
.curseclient
/*.txt
/*.json
/*.toml
/*.properties
/config/*.bak
/config/jei/world