### Develop ###

#KubeJS
/kubejs/example_scripts
/kubejs/assets/example_textures
/kubejs/exported
/kubejs/probe
/kubejs/README.txt

#NodeJS
node_modules
package-lock.json

#VS Code
.vscode


### Client ###
/crash-reports
/journeymap
/local
/logs
/mods
/resourcepacks
/saves
/schematics
/backups
/localconfigs

# Files
.curseclient
/*.txt
/*.toml
/*.properties
/config/*.bak
/config/jei/world

# JSON Files
/*nce.json
/*cache.json